{% set visiteurs = app.session.get('commandes').visiteurs %}
{% set date = app.session.get('commandes').dateReservation %}
{% set type = app.session.get('commandes').type %}
{% set Total = 0 %}
{% set nbVisiteurs = 1 %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:v='urn:schemas-microsoft-com:vml'>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />

</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

  <!-- HEADER -->
  <table bgcolor="" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td>
          <table align="center" bgcolor="white" width="700px" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td height="30" style="font-size: 30px; line-height: 30px" >
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td align="center" style="text-align: center;">
                    <a href="https://www.louvre.fr">
                      <img src="https://www.louvre.fr/sites/all/themes/louvre/img/data/logo-louvre.jpg" alt="Logo du Musé du Louvre" width="150" border="0"  />
                    </a>
                </td>
              </tr>
              <tr>
                <td height="30" style="font-size: 30px; line-height: 30px" >
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td align="center" style=" font-family: 'Helvetica', 'sans-serif'; text-align: center; font-size: 40px; mso-line-height-rule: exactly; line-height: 28px;">                      Billeterie en ligne
                </td>
              </tr>
              <tr>
                <td height="30" style="font-size: 30px; line-height: 30px" >
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td align="center" style=" font-family: 'Helvetica', 'sans-serif'; text-align: center; mso-line-height-rule: exactly; line-height: 28px;">
                  Merci pour votre commande,

                  Cet email fait office de billet. Vous y retrouverez la liste des visiteurs pour la {{ type }} du {{ date|date('d/m/Y') }} ainsi que les différents tarifs.

                  Veuillez le présenter à l'entré du musé.
                </td>
              </tr>
               <tr>
                <td height="30" style="font-size: 30px; line-height: 30px" >
                  &nbsp;
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- /HEADER -->

  <!-- BLOCK MAIN -->
  <table bgcolor="white" width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td height="30" style="font-size: 30px; line-height: 30px" >
                  &nbsp;
                </td>
              </tr>

              <tr>
                <td>
                  <table align="center" bgcolor="white" width="700px" border="0" cellpadding="0" cellspacing="0">
                  <thead bgcolor="#efefef">
                    <tr align="center" style="text-align:center;">
                      <th>#</th>
                      <th>Nom </th>
                      <th>Prenom </th>
                      <th>Tarifs</th>
                    </tr>
                  </thead>
                  <tbody align="right" style="text-align: right;">
                  {% for visiteur in visiteurs %}
                    <hr>
                    <tr>
                      <th scope="row">{{ nbVisiteurs }}</th>
                      <td class="visiteur-nom">{{ visiteur.nom }}</td>
                      <td class="visiteur-prenom">{{ visiteur.prenom }}</td>
                      <td class="resume-tarif">{{ visiteur.tarif }}</td>
                    </tr>
                    {% set nbVisiteurs = nbVisiteurs + 1 %}
                    {% set Total = Total + visiteur.tarif %}
                  {% endfor %}
                </tbody>
                <tfoot bgcolor='#c82d00' style="background-color: #c82d00; color: white;">
                  <th >
                    Totals
                  </th>
                  <td colspan="2"></td>
                  <td align="right" style="text-align: right;">
                    {{ Total }}
                  </td>
                </tfoot>

                  </table>
                </td>
              </tr>
  </table>
  <!-- :BLOCK MAIN -->
    <!-- FOOTER -->
  <table bgcolor="" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td>
          <table align="center" bgcolor="white" width="700px" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td height="30" style="font-size: 30px; line-height: 30px" >
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td align="center" style=" font-family: 'Helvetica', 'sans-serif'; text-align: center; mso-line-height-rule: exactly; line-height: 28px;">
                  Nous vous souhaitons une agréable visite du Musé.
                </td>
              </tr>
               <tr>
                <td height="30" style="font-size: 30px; line-height: 30px" >
                  &nbsp;
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- /FOOTER -->

</body>
</html>

